.button 
{
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin: 8px;
    margin-left: 90%;
    margin-top: 1%;
  }
table 
{
    border-collapse: collapse;
    width: 100%;
    margin: 8px;
  }
  
  th, td 
  {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th 
  {
    background-color: #04AA6D;
    color: white;
  }
  h1
  {
    position: absolute;
  }

  .flex-container {
    display: flex;
    background-color: DodgerBlue;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
  .modal-content {
    
    margin: 8px;
    padding: 20px;
    width: 80%;
  }
  .popUp {
      
        margin: auto;
        width: 20%;
        border: 5px outset #04AA6D;   
        text-align:left;
  }
  .input
  {
      margin: 5%;
  }
  button
  {
    background-color: #043eaa; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin: 8px;
    width: 50%;
  }
  .buttonCancel
  {
    background-color: #f44336; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin: 8px;
    width: 50%;
  }